
.glass {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid var(--line) !important;
    backdrop-filter: blur(10px);
    height: 100%;
}

.navbarPopout {
    border-radius: 50px;
    margin: 15px;
    margin-top: 25px;
    padding: 25px;
}

.glass span {
    color: white;
}

.account {
    cursor: pointer;
}

.authBarItem {
    color: white;
}

.authBarItem a:hover {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}

.authBarLink {
    color: white;
}