<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="stilus.css" />
    <script src="fooldal.js" defer></script>
    <title>Architecture</title>
</head>
<body>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'hu',
                includedLanguages: 'hu,en,de', 
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <header>
        <img src="kepek/tel_logo.png" alt="">
        <p>&nbsp;&nbsp;06 20 346 2469</p>
        <img id="email_logo" src="kepek/email_logo.png" alt="">
        <p>&nbsp;&nbsp;megyeribence2006@gmail.com</p>
        <div id="google_translate_element"></div>
    </header>

    <!--Menü-->
    <table>
        <tr>
            <td><img src="kepek/logo.png"></td>
            <td>
                <span class="nav">
                    <ul>
                        <li><a href="fooldal.html">FŐOLDAL</a></li>
                        <li><a href="rolunk.html" style="color: #1e128d;"><b>RÓLUNK</b></a></li>
                        <li><a href="szolgaltatasaink.html">SZOLGÁLTATÁSAINK</a></li>
                        <li><a href="kapcsolattartas.html">KAPCSOLATTARTÁS</a></li>
                        <li><button><a href="galeria.html">Architecture</a></button></li>
                    </ul>
                </span>
            </td>
        </tr>                
    </table>

    <!--Váltakozó rész-->
    <div class="kepsor">
        <div class="kepek fade">
            <img src="kepek/fokep1.png" alt="">
            <div class="szoveg">
                <h1>Legjobb Építészeti És Belsőépítészeti<br>Szolgáltatások</h1>
                <p>Csapatunk, amely az ország legkiválóbb szakembereiből áll, számos kiemelkedő munkájával valóra 
                    váltotta<br>megbízóink álmait és elképzeléseit, magas színvonalú megvalósításban.</p><br>
                <a href="cegtortenet.html"><button>Továbbiak</button></a>
            </div>
        </div>
        <div class="kepek fade">
            <img src="kepek/fokep3.png" alt="">
            <div class="szoveg">
                <h1>Legjobb Építészeti És Belsőépítészeti<br>Szolgáltatások</h1>
                <p>Csapatunk, amely az ország legkiválóbb szakembereiből áll, számos kiemelkedő munkájával valóra 
                    váltotta<br>megbízóink álmait és elképzeléseit, magas színvonalú megvalósításban.</p><br>
                <a href="cegtortenet.html"><button>Továbbiak</button></a>
            </div>
        </div>
        <div class="kepek fade">
            <img src="kepek/fokep2.png" alt="">
            <div class="szoveg">
                <h1>Legjobb Építészeti És Belsőépítészeti<br>Szolgáltatások</h1>
                <p>Csapatunk, amely az ország legkiválóbb szakembereiből áll, számos kiemelkedő munkájával valóra 
                    váltotta<br>megbízóink álmait és elképzeléseit, magas színvonalú megvalósításban.</p><br>
                <a href="cegtortenet.html"><button>Továbbiak</button></a>
            </div>
        </div>
    </div>

   <!--Rólunk-->
    <div class="scroll-animate" id="container1">
        <div class="images">
            <img src="kepek/epuletkep.png" alt="Épület 1">
        </div>
        <div class="content">
            <h2>Rólunk</h2>
            <h1>Kreatív építészeti vállalat<br>álmai otthonához</h1>
            <p>Mi, egy innovatív építészeti dizájn cégként, az ügyfeleink álmait valósítjuk meg.<br>Modern technológiával és kreatív megközelítéssel formáljuk az egyedi otthonokat<br>és épületeket.</p>
            <p>Több mint 15 éves tapasztalatunkkal garantáljuk a minőséget, az esztétikát és a<br>fenntarthatóságot minden projektben.</p>
            <div class="ev">
                <div class="border">
                    <div class="evmunka">15</div>
                </div>
                <div class="evmunka_szoveg">Éves munkatapasztalat</div>
            </div>
        </div>
    </div>

    <!--Miért válasszon minket-->
    <div class="hatter">
        <div class="scroll-animate" id="projekt">
            <div class="text-projekt">
                <h2>Miért Minket Válasszon!</h2>
                <h1>Miért Bízzon Meg Bennünk? Tudjon Meg Többet Rólunk!</h1>
                <p>Válasszon minket a kiválóság, innováció és megbízhatóság jegyében. Szakértő csapatunk kiemelt figyelmet és magas színvonalú megoldásokat garantál.</p>
                
                <div class="resz">
                    <img src="kepek/icon_1-szurke.png" alt="Tervezés">
                    <div>
                        <h3>Tervezési Megközelítés</h3>
                        <p>A tervezési folyamatunk kreatív megoldásokra, ügyféligények alapos elemzésére és esztétikus eredmények megvalósítására épül, maximális hatékonysággal.</p>
                    </div>
                </div>
                <div class="resz">
                    <img src="kepek/icon_2-szurke.png" alt="Innovatív">
                    <div>
                        <h3>Innovatív Megoldások</h3>
                        <p>Innovatív megoldásaink a legújabb technológiákat ötvözik kreatív gondolkodással, hogy egyedi, hatékony és fenntartható projekteket hozzunk létre.</p>
                    </div>
                </div>
                <div class="resz">
                    <img src="kepek/icon_3-szurke.png" alt="Projekt">
                    <div>
                        <h3>Projektmenedzsment</h3>
                        <p>Projektmenedzsmentünk célja a hatékony idő és erőforráskezelés, biztosítva a zökkenőmentes megvalósítást és a magas minőségű eredményeket.</p>
                    </div>
                </div>
            </div>
            
            <div class="image-content">
                <img src="kepek/epuletkep2.JPG" alt="Building Image">
            </div>
        </div>
    </div>
    <br>

    <!--Csapatunk-->
    <section class="csapattagok_resz">
        <h2 class="kiscim">Csapat Tagjai</h2>
        <h1 class="focim2">Kreatív Építészeti Csapatunk<br>Álmai Otthonához</h1>
        <div class="csapat-container">
            <div class="csapattag">
                <img src="kepek/cucu.png" alt="Arckép">
                <div class="social-linkek">
                    <a href="https://www.facebook.com/?locale=hu_HU"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
                </div>
                <h3>Megyeri Bence</h3>
                <p>Designer</p>
            </div>
            <div class="csapattag">
                <img src="kepek/arckep_noi.jpg" alt="Arckép">
                <div class="social-linkek">
                    <a href="https://www.facebook.com/?locale=hu_HU"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
                </div>
                <h3>nev</h3>
                <p>Designer</p>
            </div>
            <div class="csapattag">
                <img src="kepek/arckep_noi.jpg" alt="Arckép">
                <div class="social-linkek">
                    <a href="https://www.facebook.com/?locale=hu_HU"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
                </div>
                <h3>nev</h3>
                <p>Designer</p>
            </div>
            <div class="csapattag">
                <img src="kepek/arckep_ferfi.jpg" alt="Arckép">
                <div class="social-linkek">
                    <a href="https://www.facebook.com/?locale=hu_HU"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
                </div>
                <h3>nev</h3>
                <p>Designer</p>
            </div>
        </div>
    </section>
    <br>

    <!--Lábléc-->
    <div class="footer">
        <div class="footer-elso">
            <h3>&emsp;&nbsp;&nbsp;Cím</h3>
            <div class="infok">
                <p><img src="kepek/address.png" alt="address">&emsp;9761 Táplánszentkereszt, Brenner János s. 23 A/1</p>
                <p><img src="kepek/tel_logo.png" alt="tel">&emsp;06 20 346 2469</p>
                <p><img src="kepek/email_logo.png" alt="email">&emsp;megyeribence2006@gmail.com</p>
            </div>
            <div class="ikonok">
                <a href="https://www.facebook.com/?locale=hu_HU"><i class="icon ion-social-facebook"></i></a>
                <a href="https://x.com/?lang=hu"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
                <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
            </div>
        </div>
        <div>
            <h3>Szolgáltatásaink</h3>
            <ul>
                <li><b>&#155;</b><a href="epiteszet.html">&emsp;Építészet</a></li>
                <li><b>&#155;</b><a href="3danimacio.html">&emsp;3D Animáció</a></li>
                <li><b>&#155;</b><a href="haztervezes.html">&emsp;Háztervezés</a></li>
                <li><b>&#155;</b><a href="belsoepiteszet.html">&emsp;Belsőépítészet</a></li>
                <li><b>&#155;</b><a href="felujitas.html">&emsp;Felújítás</a></li>
                <li><b>&#155;</b><a href="kertepites.html">&emsp;Kertépítés</a></li>
            </ul>
        </div>
        <div>
            <h3>Linkek</h3>
            <ul>
                <li><b>&#155;</b><a href="fooldal.html">&emsp;Főoldal</a></li>
                <li><b>&#155;</b><a href="rolunk.html">&emsp;Rólunk</a></li>
                <li><b>&#155;</b><a href="szolgaltatasaink.html">&emsp;Szolgáltatásaink</a></li>
                <li><b>&#155;</b><a href="kapcsolattartas.html">&emsp;Kapcsolattartás</a></li>
                <li><b>&#155;</b><a href="cegtortenet.html">&emsp;Cégtörténet</a></li>
                <li><b>&#155;</b><a href="galeria.html">&emsp;Galéria</a></li>
            </ul>
        </div>
        <div class="uzenet">
            <h3>Hírlevél</h3>
            <p>Iratkozzon fel hírlevelünkre.</p>
            <form action="#">
                <input type="email" placeholder="E-mail cím" required>
                <input type="submit" value="Regiztráció">
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; <b>Architecture 2009</b>,&nbsp; Designed By Bence Megyeri</p>
    </div>
</body>
</html>